header{
    background-color: #4EA0FF;
}

.pattern-header{
    background-image: url(../img/pattern.png);
    background-repeat: inherit;
    height: 180px;
}

#logo{
    height: 80px;
}

/* section title */

h1{
    font-size: 30px;
}

#author, #data-article{
    color: #989898;
}

#author-name{
    color: #4EA0FF;
}

#data-article{
    font-size: 12px;
}

/* section starting-photo */
#starting-photo{
    margin-top: 10px;
    font-size: 10px;
}

/* section article */
#article>p, #article>ul{
    font-size: 20px;
}

.evidenziato{
    background-color: yellow;
}