*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header, footer{
    background-color: #4EA0FF;
}

.pattern-header{
    background-image: url(../img/pattern.png);
    background-repeat: inherit;
    height: 180px;
}

#logo{
    height: 80px;
    margin-top: 100px;
    margin-left: 10px;
}

main{
    width: 70%;
    margin: auto;
}

/* section title */

h1{
    font-size: 30px;
}

#author, #data-article{
    color: #989898;
}

#author-name{
    color: #4EA0FF;
}

#data-article{
    font-size: 12px;
}

/* section starting-photo */
#starting-photo{
    margin-top: 10px;
    font-size: 10px;
}

/* section article */
.article>p, .article>ul{
    font-size: 20px;
}

.article{
    margin-top: 20px;
    margin-bottom: 20px;
}

.evidenziato{
    background-color: yellow;
}

/* section table - title*/
#title-table{
    width: 100%;
    background-color: #20A9E5;
}

#title-sx, #title-center{
    width: 24%;
}

#title-dx{
    width: 50%;
}

#title-sx, #title-center, #title-dx{
    display: inline-block;
    color: #f0f0f0;
    font-weight: bold;
}

/* section table - row */
.lightblue-row{
    width: 100%;
    background-color: #B1E5F2;
}

.row-sx, .row-center{
    width: 24%;
    display: inline-block
}

.row-dx{
    width: 50%;
    display: inline-block
}

hr{
    border: 2px solid blue;
}

/* section interest*/

#interest{
    width: 70%;
    margin: auto;
}

#title-interest>h3{
    color: #989898;
    margin: auto;
    margin-bottom: 15px;
}

#foto-top, #foto-bottom{
    color: #f0f0f0;
    font-weight: bold;
    font-size: 20px;
    background-size: cover;
    width: 310px;
    height: 210px;
    margin-bottom: 15px;
    position: relative;
}

#foto-top{
   background-image: url(../img/monitor.jpg);
}

#foto-bottom{
    background-image: url(../img/graph.jpg);
}

.foto-description{
    position: absolute;
    top: 10px;
    left: 10px;
}

/* footer*/
footer{
    /* height: 100px; */
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer>hr{
    width: 50%;
    border: 1px solid blue;
}